a{
    text-decoration: none; 
    color: red; 
    vertical-align: middle;
} 

#editbutton{ 
    background: orange;
}
#deletbutton{ 
    background: purple;
}
#gobackbutton:hover{ 
    background: green;
}