
html{ 
    font-family: Arial,Helvetlca,sans-self; 
    background-color:#ffcc99;
}
.Container{ 
        width:80%;
        margin:auto;
}
.timer-estimate{
    font-weight:normal;
    font-size:10px;
    border-radius:3px;  
    padding:3px;
    background-color: #ff8080
}
li{ 
    font-weight:normal;
    font-size:10;
    border:10px solid white;
    padding:10px ;
    background-color:#ffcc99;
    margin-bottom: 30px; 
}