html{ 
    font-family: Arial,Helvetlca,sans-self; 
    background-color: white;
}
/* h1{
    border:10px solid blue;
    padding-left: 20px; 
    
} /*
/*
ul{ 
    list-style: none; 
    padding: 30px ;
    margin: 30px;
    background-color: grey; 
    box-shadow:1px 2px 3px #d9d9d9;
} */
/*.Container{ 
        width:80%;
        margin:auto;
}/*

.timer-estimate{
    font-weight:normal;
    font-size:15px;
   
}

li{ 
    font-weight:normal;
    font-size:10;
    
}